html{
    font-size: 62.5%;
    /*1em=1rem=10px*/
}
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}
div{
    display: inline-block;
}
/* .ptPageWrap{

} */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%; 
    height: auto;
    transform: translateZ(0);
    transform-style: preserve-3d;
    perspective: 1000;
    backface-visibility: hidden;
    box-sizing: border-box;
}
.mainHeader{
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    background-color: inherit;
    transform: translateY(0);
    transition: opacity 300ms ease;
    /* position: absolute; */
    color: #fff;
}
.topBar{
    border-bottom: 1px solid rgba(255,255,255,.1);
    font-size: .8em;
    line-height: 2.5em
}
.topTools{
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.topBarPort{
    display: flex;
    align-items: center;
}
.btIconWidgetContent {
    margin-bottom: 0.5em;
    margin-left: 2em;
    line-height: inherit;
    font-size: 1.1em;
}
.btIconWidgetTitle {
    opacity: .8;
}
.btIconWidgetText{
    opacity: 1;
    display: inline-block;
}
.bt_bb_icon_holder{
    text-align: right;
    margin-top: 0.4em;
    margin-bottom: 0.3em; 
    opacity: .5;
    font-size: 1.92em;
    margin-left: 1em;
    color: rgba(255, 255, 255, 0.507);
}
.btTopToolsLeft{
    width: 80em;
    height: 2.5rem;
}
.btTopToolsRight {
    display: inline-block;
    text-align: right;
    flex-grow: 1;
    width: 40em;
}
.btIconWidget {
    position: relative;
    display: inline-block;
    line-height: inherit;
    transition: all 100ms linear;
}
a:-webkit-any-link {
    cursor: pointer;
}
.btIconWidgetIcon{
    line-height: inherit;
    display: inline-block;
}