html{
    font-size: 62.5%;
    /*1em=1rem=10px*/
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}
body{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
}
.mainHeader{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    width: 100%;
    color: #fff;
    position: absolute;
    background-color: inherit;
    transform: translateY(0);
    transition: opacity 300ms ease;
}