html{
    font-size: 62.5%;
    /*1em=1rem=10px*/
}
*, *:after, *:before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}
div{
    display: block;
}
body{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}
.mainHeader{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    width: 100%;
    color: #fff;
    position: absolute;
    background-color: inherit;
    transform: translateY(0);
    transition: opacity 300ms ease;
    z-index: 10002;
    visibility: initial;
}
.mainHeader:after{
    content: " ";
    display: table;
    width: 100%;
    clear: both;
}
.topBar {
    font-size: .8em;
    line-height: 2.5em;
    z-index: 2;
}
.topBar .topBarPort {
    display: flex;
    align-items: center;
}
.port {
    width: 100%;
    padding: 0 30px;
}
.topBar .topTools {
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.btTopToolsLeft {
    flex-grow: 1;
}
.topTools .btIconWidget {
    margin: 0;
}
.topTools .btIconWidget {
    position: relative;
    display: inline-block;
    line-height: inherit;
    transition: all 100ms linear;
}
.btIconWidgetContent {
    margin: 0 0 0 0.5em;
}
.topTools .btIconWidgetTitle {
    margin-right: 0.5em;
    opacity: .8;
}
.topTools .btIconWidgetTitle {
    display: inline-block;
    line-height: inherit;
}
.topTools .btIconWidgetText{
    opacity: 1;
    display: inline-block;
    line-height: inherit;
}
.topTools .btIconWidget:not(:first-child) {
    margin-left: 2em;
    margin-right: 0;
}