html{
    font-size: 62.5%;
    /*1em=1rem=10px*/
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}
body{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
}
div{
    display: inline-block;
}
.mainHeader{
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-weight: 400;
    width: 100%;
    position: absolute;
    background-color: inherit;
    transform: translateY(0);
    transition: opacity 300ms ease;
}
.btIconWidgetContent {
    margin: 0 0 0 0.5em;
    line-height: inherit;
}
.btIconWidgetTitle {
    margin-left: 1.5em;
    opacity: .8;
}