html{
    font-size: 62.5%;
    /*1em=1rem=10px*/
}
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}
div{
    display: inline-block;
}
/* .ptPageWrap{

} */
.mainHeader{
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    background-color: inherit;
    transform: translateY(0);
    transition: opacity 300ms ease;
    position: absolute;
}
.topBar{
    border-bottom: 1px solid rgba(255,255,255,.1);
    font-size: .8em;
    line-height: 2.5em;
}
.topTools{
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.btIconWidgetContent {
    margin-left: 3em;
    line-height: inherit;
}
.btIconWidgetTitle {
    margin-top: 0.5em;
    opacity: .8;
    font-size: 0.8em;
}
.btIconWidgetText{
    opacity: 1;
    display: inline-block;
    line-height: inherit;
}
.bt_bb_icon_holder{
    opacity: .5;
    font-size: 1.2em;
}
.btTopToolsRight {
    display: inline-flex;
    text-align: right;
    flex-grow: 1;
}